@font-face {
  font-family: "nep";
  src: url("../assets/fonts/nflpatri-webfont.woff2") format("woff2"),
    url("../assets/fonts/nflpatri-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/robotocondensed-bold.woff2") format("woff2"),
    url("../assets/fonts/robotocondensed-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(../assets/fandiscussion-bg.svg);
  background-attachment: fixed;
  background-size: cover;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #00295b;
  overscroll-behavior: none;
  line-height: 1.5;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background-color: #00295b;
  opacity: 0.9;
}

*:focus {
  outline: none;
}

a {
  color: #564dc1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  margin: 0;
}

hr {
  margin-bottom: 1.5rem;
}

#disqus_thread > iframe:first-of-type,
#disqus_recommendations {
  position: absolute;
  left: -100vw;
}
